/*******************************
            Global
*******************************/

html,
body {
  // font-size: 15px;
  height: 100%;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: #FFFFFF;
  margin: 0px;
  padding: 0px;
  color: #555555;
  text-rendering: optimizeLegibility;
  min-width: 320px;
}

/*******************************
          UI Overrides
*******************************/

.ui.header {
  font-family: 'Source Sans Pro', "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.ui.header,
h1,
h2 {
  font-weight: normal !important;
}
#directions h2 {
  font-size: 1.314rem;
}

h1.ui.header {
  font-size: 3em;
}

h4.ui.header,
h5.ui.header,
.ui.icon.header {
  font-weight: bold !important;
}

.ui.button {
  font-weight: normal;
  text-decoration: none;
}

a {
  color: #009FDA;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

a:hover {
  color: #00BAFF;
}

p a {
  font-weight: bold;
}

/*******************************
            Global
*******************************/

.menu .right.menu > .mobile.item {
  display: none;
}

.ui.page.grid.segment {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.masthead.segment {
  background-image: url(images/bg.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  margin: 0em;
  padding-top: 4rem;
  overflow: hidden;
  -webkit-box-shadow: 0 -20px 10px 0 rgba(0, 0, 0, 0.1) inset !important;
  box-shadow: 0 -20px 10px 0 rgba(0, 0, 0, 0.1) inset !important;
}

.masthead.segment .column {
  position: relative;
}

.masthead.segment .information {
  margin: 3em 1em 1em 280px;
}

.masthead.segment .information p {
  max-width: 600px;
  margin: 0em 0px 2em 0em;
  font-size: 1.2em;
}

.masthead.segment h1.ui.header .sub {
  font-size: 0.7em;
}

.masthead.segment .image {
  position: absolute;
  left: 0%;
  bottom: -110px;
}

.overview .divided.grid .header + p {
  min-height: 100px;
}

.ui.shape .icon,
.link.list .icon {
  margin: 0em;
  padding: 0em;
}

.ui.cube.shape .side {
  background-color: transparent;
}

h1.ui.header {padding: 60px 0 0 0;}

button#copy-button,a#download-file-button {
    margin: 63px 0 0 0;
}

.overview{padding-top: 60px !important;}

#build-button {
    margin: 20px 0 0 0;
}

/*******************************
          Responsive
*******************************/

/* Mobile Only */

@media only screen and (max-width : 768px) {
  .ui.page.grid.segment {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .menu .right.menu > .item {
    display: none;
  }

  .menu .right.menu > .mobile.item {
    display: block;
  }

  h1.ui.header {
    font-size: 1.5em;
  }

  .masthead.segment {
    -webkit-background-size: auto;
    background-size: auto;
  }

  .masthead.segment .information {
    margin-left: 190px;
  }

  .masthead.segment .image {
    bottom: -65px;
    width: 150px;
  }

  .masthead.segment .button {
    font-size: 1rem;
  }

  .overview .divided.grid .header .icon {
    font-size: 1.5em;
  }

  .overview .divided.grid .header + p {
    min-height: 0px;
  }

  .masthead.segment .column {
    font-size: 0.7rem;
  }

  .masthead.segment .column p {
    display: none;
  }

  .selection.list .right.floated {
    display: none;
  }
}

@media only screen and (max-width : 1000px) {

}

.pick-img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin-bottom: 25px;
  float: left;
  margin-right: 10px;
}

.modal-body a {
  height: 60px;
  display: block;
}

.staff-name {
  text-align: left;
  height: 60px;
  line-height: 60px;
  display: block;
  color: #555555;
}

/* The Modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #DFDFDF;
    color: white;
}

/* Modal Body */
.modal-body {padding: 30px;}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 25%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}